{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
	<form method="POST">
	  <div class="mb-3">
	    <label for="rollnumber" class="form-label">Roll Number</label>
	    <input type="text" class="form-control" id="rollnumber" name="rollnumber"
	    {% if student %}
	    value="{{ student.roll_number}}"
	    {% endif %}>
	  </div>
	  <div class="mb-3">
	    <label for="firstname" class="form-label">First Name</label>
	    <input type="text" class="form-control" id="firstname" name="firstname"
	    {% if student %}
	    value="{{ student.first_name}}"
	    {% endif %}>
	  </div>
	  <div class="mb-3">
	    <label for="lastname" class="form-label">Last Name</label>
	    <input type="text" class="form-control" id="lastname" name="lastname"
	    {% if student %}
	    value="{{ student.last_name}}"
	    {% endif %}>
	  </div>
	  {% for course in courses %}
	  <div class="form-check">
	    <input class="form-check-input" type="checkbox" value="{{course.course_id}}"
	    id="courses" name="courses"
	    {% if course in student.courses %}
	    checked
	    {% endif %}
	    >
	    <label class="form-check-label" for="courses">
	      {{ course.course_name }}
	    </label>
	  </div>
	  {% endfor %}
	  <button type="submit" class="btn btn-primary">
	    {% if student %}
	    Update
	    {% else %}
	    Submit
	    {% endif %}
	  </button>
	</form>
      </div>
    </div>
  </div>
{% endblock %}
