{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
	<a class="btn btn-primary p-2 m-2" href="/student/create">Create New Student</a>
	{% if filter_string %}
	  <h2 class="p-2 m-2">Search Restlt for "{{ filter_string }}"</h3>
	{% endif %}
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Roll Number</th>
	      <th scope="col">First Name</th>
	      <th scope="col">Last Name</th>
	      <th scope="col">Courses Enrolled</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for student in students %}
	    <tr>
	      <th scope="row">{{ student.roll_number }}</th>
	      <td>{{ student.first_name }}</td>
	      <td>{{ student.last_name }}</td>
	      <td>
		<ul>
		    {% for course in student.courses %}
		      <li>{{ course.course_name }}</li>
		    {% endfor %}
		</ul>
	      </td>
	      <td><a href="/student/{{ student.student_id }}" class="btn btn-primary">Details</a></td>
	      <td><a href="/student/{{ student.student_id }}/update" class="btn btn-primary">Edit</a></td>
	      <td><a href="/student/{{ student.student_id }}/delete" class="btn btn-danger">Delete</a></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
{% endblock %}
